<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class="nav-item">
            <a routerLink="" routerLinkActive="active" class="nav-link">
                <span class="fa fa-home"></span>
            </a>
        </li>
        <li class = "nav-item">
            <a routerLink ="users" routerLinkActive="active" class="nav-link">Display Users</a>
        </li>
        <li class = "nav-item">
            <a routerLink ="save-user" routerLinkActive="active" class="nav-link">Save User</a>
        </li>
    </ul>
</nav>

<div class = "container">
    <router-outlet></router-outlet>
</div>
