<div class="container mt-5">
<div class="row justify-content-center">
<h3 class = text-center style = "font-size: 30px;" >Save User</h3>
<form #userForm="ngForm" (ngSubmit) = "onSubmit()" novalidate>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" id="name"
            [(ngModel)] = "user.name" name="name" required #nameInput="ngModel" placeholder="Enter your name (Mandatory)">
            <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="text-danger">
                <div>
                  Name is required.
                </div>
            </div>
    </div>

    <div class="form-group">
        <label>Surname</label>
        <input type="text" class="form-control" id="surname"
            [(ngModel)] = "user.surname" name="surname" required #surnameInput="ngModel" placeholder="Enter your surname (Mandatory)">
            <div *ngIf="surnameInput.invalid && (surnameInput.dirty || surnameInput.touched)" class="text-danger">
                <div>
                  Surame is required.
                </div>
            </div>
    </div>

    <div class="form-group">
        <div>
            <label for="birthdate">Gender</label>
        </div>
        <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select [(ngModel)]="user.gender" name="gender" required>
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div class="form-group">
        <label>Home Address</label>
        <input type="text" class="form-control" id="homeAddress"
            [(ngModel)] = "user.addresses.homeAddress" name="homeAddress">
    </div>

    <div class="form-group">
        <label>Work Address</label>
        <input type="text" class="form-control" id="workAddress"
            [(ngModel)] = "user.addresses.workAddress" name="workAddress">
    </div>

    <div class="form-group">
        <div>
            <label for="birthdate">Birthdate</label>
        </div>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="user.birthdate" name="birthdate" required>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <button class="btn btn-success" type ="submit" [disabled]="userForm.invalid">Submit</button>
</form>
</div>
</div>