<div class="user-list-container">
<h2>User List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let user of users">
            <td> {{user.name}} </td>
            <td> {{user.surname}} </td>
            <!-- <td> {{user.addresses.homeAddress}}</td> -->
            <td>
                <div class="d-flex justify-content-end">
                    <button (click) = "displayUserDetails(user.id)" class ="btn btn-info">Details</button>
                    <button (click) = "deleteUser(user.id)" class ="btn btn-danger" style="margin-left: 20px">Delete</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</div>